language: python

python: 2.7

env:
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34

matrix:
  include:
    - env: TOX_ENV=py35
      python: 3.5
    - env: TOX_ENV=py36
      python: 3.6

install:
  - pip install tox

script:
  - tox -e $TOX_ENV

after_success:
  coveralls
